@charset "UTF-8";
/*РћР±РЅСѓР»РµРЅРёРµ*/
* {
  padding: 0;
  margin: 0;
  border: 0;
}

*, *:before, *:after {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

nav, footer, header, aside {
  display: block;
}

html, body {
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 1;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

input, button, textarea {
  font-family: inherit;
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a, a:visited {
  text-decoration: none;
  cursor: pointer;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0; /* <-- Apparently some margin are still there even though it's hidden */
}

h1, h2, h3, h4, h5, h6 {
  font-size: inherit;
}

/*--------------------*/
.wrapper {
  min-height: 100%;
  display: flex;
  flex-direction: column;
  overflow: hidden;
}

.main {
  flex-grow: 1;
}

.container {
  position: relative;
  box-sizing: content-box;
  padding: 0 15px;
  height: 100%;
  margin: 0 auto;
}

.swiper {
  overflow: hidden;
}

.swiper-container {
  width: 100%;
  max-width: 100%;
  min-height: 0;
  min-width: 0;
}

.swiper-wrapper {
  width: 100%;
  height: 100%;
  display: flex;
  position: relative;
}

.swiper-slide {
  width: fit-content;
}

.swiper-pagination-fraction {
  width: auto !important;
}

body {
  font-size: 16px;
  font-family: "Roboto";
  font-weight: 900;
  color: #ffffff;
}
body._lock {
  overflow: hidden;
}

.container {
  max-width: 1140px;
}

.head {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 100;
  background: #ffffff url(../images/header/bg_header.jpg) top repeat-x;
}
@media (max-width: 780px) {
  .head {
    background: #ffffff url(../images/header/bg_header_short.png) 0 -20px no-repeat;
  }
}
.head__top {
  display: flex;
  align-items: center;
  height: 5.625rem;
  margin-bottom: 0.625rem;
}
@media (max-width: 780px) {
  .head__top {
    height: 4.1875rem;
  }
}
.head__bottom {
  display: flex;
  justify-content: space-between;
  align-items: center;
  min-height: 5.8125rem;
}

.head-top__column {
  flex: 0 1 50%;
}
.head-top__logo {
  flex: 0 1 11.9375rem;
  text-align: center;
}
.head-top__logo > a:nth-child(1) {
  display: block;
  font-family: "Play";
  font-size: 3rem;
  line-height: 125%;
  font-weight: 700;
  text-transform: uppercase;
  color: #ffffff;
}
@media (max-width: 780px) {
  .head-top__logo > a:nth-child(1) {
    font-size: 2.5rem;
    line-height: 1.1;
  }
}
.head-top__logo > a:nth-child(2) {
  font-size: 0.75rem;
  line-height: 150%;
  font-weight: 300;
  letter-spacing: 0.05em;
  color: #ffffff;
  white-space: nowrap;
}

.body-behind {
  position: fixed;
  left: 0;
  top: 0;
  height: 100vh;
  width: 100vw;
  background: #000;
  opacity: 0;
  z-index: -1;
  visibility: hidden;
  transition: opacity 0.6s ease;
}
.head-top__menu._active .body-behind {
  opacity: 0.5;
  z-index: 6;
  visibility: visible;
}

.menu__icon {
  position: relative;
  z-index: 20;
  width: 40px;
  height: 22px;
}
.menu__icon > span {
  position: absolute;
  left: 0;
  background-color: #ffffff;
  width: 100%;
  height: 10%;
  transition: 0.4s;
  border-radius: 10px;
}
.menu__icon > span:nth-child(1) {
  top: 0;
}
.head-top__menu._active .menu__icon > span:nth-child(1) {
  top: 50%;
  transform: translateY(-50%) rotate(-45deg);
}
.menu__icon > span:nth-child(2) {
  top: 50%;
  transform: translateY(-50%) scale(1);
}
.head-top__menu._active .menu__icon > span:nth-child(2) {
  transform: translateY(-50%) scale(0);
}
.menu__icon > span:nth-child(3) {
  bottom: 0;
}
.head-top__menu._active .menu__icon > span:nth-child(3) {
  bottom: 50%;
  transform: translateY(50%) rotate(45deg);
}
@media (min-width: 993px) {
  .menu__icon {
    display: none;
  }
}
@media (max-width: 992px) {
  .menu__body {
    position: fixed;
    top: 0;
    left: -100%;
    background: url(../images/aside/aside_bg.png);
    width: 15.6875rem;
    width: 14.375rem;
    height: 100%;
    overflow: scroll;
    transition: 0.6s;
    z-index: 10;
  }
  .head-top__menu._active .menu__body {
    left: 0;
  }
}
@media (max-width: 992px) and (min-width: 360px) {
  .menu__body {
    width: 15.6875rem;
  }
}
.menu__list {
  margin: 1.25rem 0 0 3.75rem;
}
@media (min-width: 993px) {
  .menu__list {
    display: grid;
    grid-template-columns: minmax(auto, 6.875rem) minmax(auto, 8.125rem) minmax(auto, 10.9375rem);
    margin: 0;
  }
}
.menu__list-item {
  font-family: "Play";
  margin-bottom: 0.625rem;
}
.menu__list-item > a {
  color: #ffffff;
  font-size: 1rem;
  line-height: 128.5714285714%;
  font-weight: 700;
}
@media (min-width: 993px) {
  .menu__list-item {
    padding: 0.3125rem 1.375rem;
    transition: 0.3s;
    border-radius: 100px;
    cursor: pointer;
    margin-bottom: 0;
  }
  .menu__list-item > a {
    font-size: 0.875rem;
    text-decoration: underline;
  }
  .menu__list-item:hover {
    background-color: #068292;
  }
}
@media (max-width: 1180px) {
  .menu__list-item {
    padding: 0.3125rem 0.625rem;
  }
}

.head-call__inner {
  display: flex;
  justify-content: center;
  align-items: center;
}
@media (max-width: 992px) {
  .head-call__inner {
    justify-content: flex-end;
  }
}
.head-call__item-wrap {
  padding: 0 0.9375rem;
}
.head-call__item-wrap:nth-child(2) {
  border-left: 1px solid #ffffff;
}
@media (max-width: 992px) {
  .head-call__item-wrap:nth-child(2) {
    display: none;
  }
}
@media (min-width: 1180px) {
  .head-call__item-wrap {
    padding: 0 1.75rem;
  }
}
.head-call__item {
  display: flex;
}
@media (min-width: 650px) {
  .head-call__item {
    display: block;
    padding-left: 1.5625rem;
    background: url(../images/header/telefon.png) bottom left no-repeat;
  }
}
@media (min-width: 1180px) {
  .head-call__item {
    padding-left: 2.375rem;
  }
}
.head-call__location {
  display: none;
  font-weight: 300;
  color: #ffffff;
  line-height: 150%;
  font-size: 0.75rem;
  margin-bottom: 0.6666666667em;
}
@media (min-width: 650px) {
  .head-call__location {
    display: block;
  }
}
.head-call__number {
  display: inline-block;
  width: 19px;
  height: 25px;
  font-size: 0;
  background: url(../images/header/telefon.png) no-repeat;
}
@media (min-width: 650px) {
  .head-call__number {
    display: inline;
    font-size: 1rem;
    line-height: 1;
    font-weight: 900;
    text-transform: uppercase;
    color: #ffffff;
    white-space: nowrap;
    background: none;
  }
}
@media (min-width: 1180px) {
  .head-call__number {
    font-size: 1.125rem;
  }
}

.head-bottom {
  display: none;
}
@media (min-width: 650px) {
  .head-bottom {
    display: flex;
    min-height: 1.875rem;
  }
}
@media (min-width: 993px) {
  .head-bottom {
    min-height: 3.8125rem;
  }
}
.head-bottom__column {
  flex: 1 1 100%;
}
.head-bottom__column:last-child {
  display: none;
}
@media (min-width: 650px) {
  .head-bottom__column {
    flex: 0 1 calc(50% - 90px);
  }
  .head-bottom__column:last-child {
    display: block;
  }
}
.head-bottom__list {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1.5625rem;
}
.head-bottom__list_right {
  justify-content: center;
}
.head-bottom__item-schedule {
  display: none;
}
@media (min-width: 993px) {
  .head-bottom__item-schedule {
    display: block;
  }
}
.head-bottom__link {
  display: inline-block;
  font-size: 1rem;
  position: relative;
  line-height: 128.5714285714%;
  font-weight: 300;
  color: #999999;
  transition: 0.3s;
  color: #999999;
  white-space: nowrap;
}
@media (min-width: 992px) {
  .head-bottom__link {
    padding-left: 1.875rem;
  }
}
.head-bottom__link::before {
  display: none;
  content: "";
}
@media (min-width: 993px) {
  .head-bottom__link::before {
    display: block;
    position: absolute;
    top: 50%;
    left: 0;
    transform: translateY(-50%);
    width: 24px;
    height: 24px;
  }
}
.head-bottom__link:hover:not(.head-bottom__link_basket) {
  color: #1ab9ce;
}
.head-bottom__link:hover:not(.head-bottom__link_basket) > span {
  border-bottom: 1px dotted #1ab9ce;
}
.head-bottom__link_login::before {
  background: url(../images/header/enter.jpg) no-repeat;
}
.head-bottom__link_reg::before {
  background: url(../images/header/head.jpg) no-repeat;
}
.head-bottom__link_mail::before {
  width: 21px;
  height: 13px;
  background: url(../images/header/email.jpg) no-repeat;
}
.head-bottom__link_telefon {
  display: none;
  padding-left: 1.875rem;
}
@media (min-width: 650px) {
  .head-bottom__link_telefon {
    display: block;
  }
}
.head-bottom__link_telefon::before {
  display: block;
  position: absolute;
  top: 50%;
  left: 0;
  transform: translateY(-50%);
  width: 24px;
  height: 24px;
  background: url(../images/header/telefonBlue.jpg) no-repeat;
}
.head-bottom__link_date::before {
  background: url(../images/header/kalendar.jpg) no-repeat;
}
.head-bottom__link_basket {
  width: 39px;
  height: 39px;
  padding-left: 1.875rem;
}
.head-bottom__link_basket > span {
  position: absolute;
  top: -7px;
  right: -15px;
  z-index: 5;
  font-size: 1.125rem;
  line-height: 1.5;
  font-weight: 700;
  color: #ffffff;
  border: none;
  padding: 0 0.6875rem;
  background-color: #f68038;
  border-radius: 100px;
}
.head-bottom__link_basket::before {
  display: block;
  position: absolute;
  top: 50%;
  left: 0;
  transform: translateY(-50%);
  width: 24px;
  height: 24px;
  width: 39px;
  height: 39px;
  background: url(../images/header/basketHeader.png) no-repeat;
}

.page__wrapper {
  padding-top: 5.25rem;
}
@media (min-width: 650px) {
  .page__wrapper {
    padding-top: 9.25rem;
  }
}
@media (min-width: 993px) {
  .page__wrapper {
    padding-top: 10.25rem;
  }
}
.page__main-inner {
  display: flex;
  flex-direction: column;
  row-gap: 1.875rem;
}
@media (min-width: 993px) {
  .page__main-inner {
    flex-direction: row;
    column-gap: 2rem;
    align-items: flex-start;
  }
}
.page__aside {
  flex: 1 0 auto;
}
@media (min-width: 993px) {
  .page__aside {
    flex: 0 0 16.3125rem;
  }
}
.page__content {
  flex: 1 1 auto;
}
.page__content-header {
  margin-bottom: 1.25rem;
}
.page__hit {
  margin-bottom: 66px;
}
@media (max-width: 1140px) {
  .page__hit {
    margin-bottom: calc(40px + 26 * ((100vw - 320px) / 820));
  }
}
.page__partners {
  margin-bottom: 2rem;
}
.page__aboutCompany {
  margin-bottom: 2.375rem;
}
.page__info {
  margin-bottom: 2.125rem;
}

.aside {
  position: relative;
  z-index: 10;
}
.aside__wrapper {
  background: url(../images/aside/aside_bg.png);
}
@media (min-width: 993px) {
  .aside__wrapper {
    margin-bottom: 2.75rem;
  }
}
.aside__header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0.625rem;
  cursor: pointer;
}
@media (min-width: 993px) {
  .aside__header {
    padding: 1.3125rem;
  }
}
.aside__title {
  font-size: 1.875rem;
  line-height: 1.2;
  text-transform: uppercase;
  letter-spacing: 0.025em;
  max-width: 9.0625rem;
  font-weight: 900;
}
.aside__burger-wrap {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 36px;
  height: 35px;
  padding: 0.5625rem 0.375rem;
  background-color: #068292;
}
.aside__burger {
  width: 100%;
  height: 100%;
  position: relative;
  background-color: transparent;
}
.aside__burger > span {
  position: absolute;
  left: 0;
  display: inline-block;
  width: 24px;
  height: 2px;
  background-color: #ffffff;
  border-radius: 10px;
  transition: 0.4s;
}
.aside__burger > span:nth-child(1) {
  top: 0;
}
._active .aside__burger > span:nth-child(1) {
  top: 50%;
  transform: translateY(-50%) rotate(-45deg);
}
.aside__burger > span:nth-child(2) {
  top: 50%;
  transform: translateY(-50%) scale(1);
}
._active .aside__burger > span:nth-child(2) {
  transform: translateY(-50%) scale(0);
}
.aside__burger > span:nth-child(3) {
  bottom: 0;
}
._active .aside__burger > span:nth-child(3) {
  bottom: 50%;
  transform: translateY(50%) rotate(45deg);
}
.aside__catalog {
  margin-bottom: 0.625rem;
}
@media (min-width: 993px) {
  .aside__catalog {
    margin-bottom: 2.5rem;
  }
}
.aside__news {
  margin-bottom: 1.875rem;
}
@media (min-width: 993px) {
  .aside__news {
    margin-bottom: 4.375rem;
  }
}
.aside__recalls {
  margin-bottom: 1.25rem;
}
@media (min-width: 993px) {
  .aside__recalls {
    margin-bottom: 2.5rem;
  }
}

.catalog__list {
  display: flex;
  flex-direction: column;
}
.catalog__item {
  padding-right: 0.625rem;
  padding-left: 1.375rem;
  transition: 0.3s;
}
.catalog__item:not(:last-child) {
  border-bottom: 1px solid #1aa7b9;
}
.catalog__item:hover {
  background-color: #098494;
}
.catalog__link {
  font-size: 0.875rem;
  line-height: 333.3333333333%;
  font-weight: 300;
  letter-spacing: 0.025em;
  color: #ffffff;
}
.catalog__link_arrow {
  display: flex;
  align-items: center;
  justify-content: space-between;
  column-gap: 0.3125rem;
}
.catalog__link_arrow::after {
  content: "";
  width: 14px;
  height: 14px;
  background: url(../images/arrows/arrowWhite.png) no-repeat;
}
.catalog__submenu {
  display: none;
@media (min-width: 993px) {
  .catalog__submenu {
     display:block;
    background-color: #ffffff;
    position: absolute;
    z-index: 15;
    top: 0;
    left: 100%;
    width: 100%;
    visibility: hidden;
    opacity: 0;
    transition: 0.5s;
    border: 2px solid #068292;
  }
  .catalog__item:hover .catalog__submenu {
    visibility: visible;
    opacity: 1;
  }
}

.catalog-sub__inner {
  padding: 0.9375rem;
}
.catalog-sub__list {
  text-align: center;
  border-bottom: 1px solid #bdbdbd;
}
.catalog-sub__item > a {
  font-size: 0.875rem;
  line-height: 333.3333333333%;
  font-weight: 300;
  letter-spacing: 0.025em;
  color: #1aa7b9;
}
.catalog-sub__item > a:hover {
  text-decoration: underline;
}
.catalog-sub__img {
  display: inline-block;
  margin-bottom: 1.875rem;
  width: 100%;
}
.catalog-sub__title {
  margin-bottom: 1.25em;
}
.catalog-sub__title > a {
  font-size: 1rem;
  line-height: 1.2;
  font-weight: 700;
  letter-spacing: 0.025em;
  color: #1aa7b9;
}
.catalog-sub__title > a:hover {
  text-decoration: underline;
}
.catalog-sub__action {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
}
.catalog-sub__price {
  font-size: 1.1875rem;
  line-height: 1.2;
  font-weight: 700;
  letter-spacing: 0.025em;
  color: #000;
}

.news__title {
  font-size: 1.875rem;
  line-height: 1.2;
  font-weight: 900;
  text-transform: uppercase;
  letter-spacing: 0.025em;
  color: #1ab9ce;
  margin-bottom: 0.8333333333em;
}
@media (min-width: 993px) {
  .news__title {
    margin-bottom: 0.8333333333em;
  }
}
.news__items {
  display: flex;
  flex-direction: column;
  justify-items: center;
  row-gap: 1.25rem;
}
@media (min-width: 993px) {
  .news__items {
    row-gap: 2.5rem;
  }
}
.news__item-title {
  display: block;
  font-size: 0.75rem;
  line-height: 18px;
  font-weight: 900;
  text-transform: uppercase;
  color: #dadada;
  transition: 0.5s;
  margin-bottom: 1.8333333333em;
}
.news__item-title:hover {
  color: #fd8322;
}
.news__body {
  display: flex;
  align-items: flex-start;
}
.news__date {
  flex: 0 0 33px;
  font-size: 1.5rem;
  line-height: 1.2;
  text-transform: uppercase;
  color: #d8d8d8;
  text-align: center;
}
.news__date > span {
  display: block;
  font-size: 0.8125rem;
  font-weight: 300;
  text-transform: none;
}
.news__txt {
  font-size: 0.75rem;
  line-height: 150%;
  font-weight: 300;
  color: #666666;
  padding-left: 1.0625rem;
}

.recalls__title {
  font-size: 1.875rem;
  line-height: 1.2;
  font-weight: 900;
  text-transform: uppercase;
  letter-spacing: 0.025em;
  color: #dadada;
  margin-bottom: 1.0666666667em;
}
.recalls__items {
  display: flex;
  flex-direction: column;
  justify-items: center;
  row-gap: 0.9375rem;
}
@media (min-width: 993px) {
  .recalls__items {
    row-gap: 2.4375rem;
  }
}
.recalls__item-header {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
  column-gap: 0.5rem;
  font-size: 0.75rem;
  line-height: 150%;
  text-transform: uppercase;
  margin-bottom: 0.3125rem;
}
.recalls__item-userName {
  color: #333333;
  transition: 0.4s;
}
.recalls__item:hover .recalls__item-userName {
  color: #1ab9ce;
}
.recalls__item-date {
  font-weight: 300;
  color: #999999;
  transition: 0.4s;
}
.recalls__item:hover .recalls__item-date {
  color: #1ab9ce;
}
.recalls__item-body {
  display: flex;
  align-items: flex-start;
  column-gap: 0.625rem;
  padding: 0.625rem 0.3125rem;
  transition: 0.4s;
}
.recalls__item:hover .recalls__item-body {
  background-color: #1ab9ce;
}
.recalls__item-quote {
  font-size: 3rem;
  line-height: 1.2;
  text-transform: uppercase;
  color: #dadada;
}
.recalls__item-txt {
  font-size: 0.75rem;
  line-height: 150%;
  font-weight: 300;
  color: #666666;
  transition: 0.4s;
}
.recalls__item:hover .recalls__item-txt {
  color: #ffffff;
}

.content-header__form {
  position: relative;
  min-height: 2.4375rem;
  display: flex;
  flex-wrap: wrap;
}
.content-header__search {
  display: none;
}
@media (min-width: 600px) {
  .content-header__search {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 0.625rem;
    font-size: 0.875rem;
    padding: 0.8125rem 0.625rem;
    line-height: 1.2;
    font-weight: 300;
    color: #666666;
    background-color: #f3f3f3;
    cursor: pointer;
  }
}
.content-header__search > span {
  font-size: 0.875rem;
  line-height: 1.2;
  font-weight: 300;
  color: #666666;
  border-bottom: 1px dashed #666666;
}
.content-header__search > span:last-child {
  display: none;
}
.content-header__search.categories span {
  display: none;
}
.content-header__search.categories span:last-child {
  display: inline-block;
}
.content-header__search::before {
  content: "";
  width: 17px;
  height: 17px;
  background: url(../images/hit/SearchIcon.png) no-repeat;
}
._init .content-header__search::after {
  content: "";
  width: 10px;
  height: 10px;
  transition: 0.4s;
  background: url(../images/arrows/arrow_greyDown.png) no-repeat;
}
._init .content-header__search._active::after {
  transform: rotate(-180deg);
}
.content-header__search-select {
  position: absolute;
  top: 100%;
  left: 0;
  width: 100%;
  z-index: 5;
}
.content-header__input {
  font-size: 0.875rem;
  flex: 1 1 auto;
  background-color: #ffffff;
  border: 2px solid #f2f2f2;
  min-height: 2.4375rem;
}
.content-header__submit {
  padding: 0 1.5625rem;
  background-color: #f68038;
  font-size: 0.75rem;
  line-height: 1.5;
  text-transform: uppercase;
  color: #ffffff;
  transition: 0.4s;
  flex: 1 1 100%;
  min-height: 2.4375rem;
}
.content-header__submit:hover {
  background-color: #bb5e23;
}
@media (min-width: 700px) {
  .content-header__submit {
    flex: none;
  }
}

.search-select {
  visibility: hidden;
}
@media (min-width: 600px) {
  .search-select {
    visibility: visible;
    background-color: #ffffff;
  }
  .search-select::after {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 3px;
    background-color: #f68038;
  }
  .search-select__row {
    position: relative;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
    border-right: 1px solid #bdbdbd;
    border-left: 1px solid #bdbdbd;
  }
  .search-select__column {
    border-right: 1px solid #bdbdbd;
  }
  .search-select__column:last-child {
    border: none;
  }
  .search-select__list {
    padding: 1.25rem;
  }
  .search-select__label {
    position: relative;
    cursor: pointer;
  }
  .search-select__input {
    position: absolute;
    top: 0;
    left: 0;
    width: 0%;
    height: 0%;
    overflow: hidden;
  }
  .search-select__input:checked + span {
    color: #f68038;
  }
  .search-select__list-item {
    font-size: 0.875rem;
    line-height: 1.2;
    font-weight: 300;
    color: #666666;
    margin-bottom: 0.625rem;
  }
  .search-select__list-item:last-child {
    margin-bottom: 0;
  }
}

.hit {
  position: relative;
}
.hit__text {
  padding: 0.3125rem 0.9375rem;
}
@media (min-width: 993px) {
  .hit__text {
    padding: 0.625rem 2.25rem;
  }
}
.hit__title {
  font-size: 2.1875rem;
  line-height: 1;
  text-transform: uppercase;
  color: #333333;
  margin-bottom: 0.9090909091em;
}
@media (min-width: 500px) {
  .hit__title {
    font-size: 2.75rem;
  }
}
.hit__title > span {
  display: block;
  color: #f68038;
}
.hit__subtitle {
  margin-bottom: 1rem;
}
.hit__paragraph {
  font-size: 1rem;
  color: #333333;
  line-height: 133.3333333333%;
  text-transform: uppercase;
}
.hit__paragraph_orange {
  font-size: 1.125rem;
  text-transform: uppercase;
  color: #f68038;
}
.hit__paragraph_greyBg {
  display: inline-block;
  padding: 0.25rem;
  color: #ffffff;
  background-color: #909090;
}
.hit__price {
  text-align: center;
  font-size: 2.25rem;
  text-transform: uppercase;
  margin-bottom: 0.6666666667em;
  font-weight: 900;
}
.hit__link {
  display: flex;
  align-items: center;
  max-width: fit-content;
  column-gap: 0.5rem;
  margin: 0 auto;
  padding: 0.4375rem 0.75rem;
  margin: 0 auto;
  font-size: 0.9375rem;
  line-height: 150%;
  text-transform: uppercase;
  border: 3px solid #ffffff;
  border-radius: 20px;
  color: #ffffff;
  margin-bottom: 0.8125rem;
}
.hit__link::after {
  content: "";
  width: 14px;
  height: 14px;
  background: url(../images/arrows/arrowWhite.png) no-repeat;
}
.hit__images {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1.25rem;
  transform: translateY(47%);
}
.hit__images > a {
  width: 55px;
  height: 55px;
  border-radius: 100%;
  object-fit: cover;
  border: 2px solid #ffffff;
}
.hit__images > a:nth-child(1) {
  background: url(../images/hit/person_1.jpg) no-repeat;
}
.hit__images > a:nth-child(2) {
  background: url(../images/hit/person_2.jpg) no-repeat;
}
.hit__images > a:nth-child(3) {
  background: url(../images/hit/person_3.jpg) no-repeat;
}
.hit__images > a:nth-child(4) {
  background: url(../images/hit/person_4.jpg) no-repeat;
}
.hit__bg {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
}
.hit__bg_filter {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #ffffff;
  opacity: 0.2;
  z-index: -1;
}
@media (min-width: 600px) {
  .hit__bg_filter {
    display: none;
  }
}
.hit__bg-img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.products__inner {
  margin-bottom: 1.875rem;
}
@media (min-width: 993px) {
  .products__inner {
    margin-bottom: 7.9375rem;
  }
}
.products__header {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  column-gap: 0.9375rem;
  margin-bottom: 0.8611111111em;
}
@media (min-width: 650px) {
  .products__header {
    justify-content: space-between;
  }
}
.products__title {
  font-size: 2.25rem;
  text-align: center;
  line-height: 1.2;
  font-weight: 900;
  text-transform: uppercase;
  letter-spacing: 0.025em;
  color: #dadada;
}
@media (min-width: 650px) {
  .products__title {
    text-align: left;
  }
}
.products__sliderControl {
  display: flex;
  align-items: center;
  column-gap: 0.9375rem;
}
.products__slideFraction {
  font-size: 1.25rem;
  font-weight: 500;
  color: #999999 !important;
}
.products__currentSlide {
  font-size: 1.875rem;
  line-height: 1.2;
  font-weight: 900;
  text-transform: uppercase;
  letter-spacing: 0.025em;
  color: #333333;
}
.products__prevSlide {
  width: 34px;
  height: 29px;
  transform: rotate(180deg);
  background: url(../images/arrows/arrow_bigBlue.png) no-repeat;
  cursor: pointer;
}
.products__prevSlide:hover {
  background: url(../images/arrows/arrow_bigRed.png) no-repeat;
  transform: rotate(0deg);
}
.products__nextSlide {
  width: 34px;
  height: 29px;
  background: url(../images/arrows/arrow_bigBlue.png) no-repeat;
  cursor: pointer;
}
.products__nextSlide:hover {
  background: url(../images/arrows/arrow_bigRed.png) no-repeat;
  transform: rotate(180deg);
}
.products__cards {
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  gap: 0.9375rem;
  min-width: 0;
}
@media (min-width: 385px) {
  .products__cards {
    grid-template-columns: repeat(2, 1fr);
    row-gap: 1.9375rem;
    column-gap: 2rem;
  }
}
@media (min-width: 700px) {
  .products__cards {
    grid-template-columns: repeat(3, 1fr);
    row-gap: 1.9375rem;
    column-gap: 2rem;
  }
}

.product-card {
  position: relative;
  display: flex;
  flex-direction: column;
  padding: 0.625rem;
  border: 1px solid #f5f5f5;
  overflow: hidden;
}
@media (min-width: 993px) {
  .product-card {
    padding: 1.25rem;
  }
}
.product-card__img {
  display: block;
  position: relative;
  padding-bottom: 100%;
}
.product-card__pic {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
.product-card__title {
  font-size: 1rem;
  line-height: 137.5%;
  color: #36949f;
  flex-grow: 1;
  margin-bottom: 0.625em;
}
.product-card__footer {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
}
.product-card__prevPrice {
  text-align: right;
  font-size: 0.875rem;
  line-height: 1.2;
  font-weight: 300;
  text-decoration: line-through;
  color: #999999;
}
@media (min-width: 993px) {
  .product-card__prevPrice {
    font-size: 1.125rem;
  }
}
.product-card__price {
  font-size: 1.125rem;
  line-height: 1;
  color: #333333;
}
@media (min-width: 993px) {
  .product-card__price {
    font-size: 1.5rem;
  }
}
.product-card__hover {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.product-hover {
  display: none;
}
@media (min-width: 993px) {
  .product-hover {
    display: flex;
    flex-direction: column;
    transform: translateX(-105%);
    background-color: rgba(40, 40, 40, 0.95);
    border: 4px solid #f68038;
    padding: 0.625rem;
    transition: 0.5s;
  }
  .product-card:hover .product-hover {
    transform: translateX(0%);
  }
  .product-hover__title {
    flex: 1 1 auto;
    display: block;
    line-height: 137.5%;
    font-weight: 900;
    color: #ffffff;
  }
  .product-hover__params {
    flex: 1 1 auto;
    display: grid;
    grid-auto-flow: row;
    row-gap: rem1(10);
  }
  .product-hover__param {
    font-size: 0.875rem;
    line-height: 128.5714285714%;
  }
  .product-hover__label {
    color: #f68038;
  }
  .product-hover__basket {
    flex: 1 1 auto;
    display: block;
    width: 52px;
    height: 52px;
    margin: 0 auto;
    background: url(../images/products/basket-Orange.png) no-repeat;
  }
  .product-hover__footer {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  .product-hover__having {
    font-size: 0.875rem;
    line-height: 171.4285714286%;
    font-weight: 300;
    color: #f68038;
    padding: 0.3125rem 0.4375rem;
    background-color: #ffffff;
    border-radius: 100px;
    white-space: nowrap;
  }
  .product-hover__price {
    font-size: 1.25rem;
    line-height: 1;
    white-space: nowrap;
  }
}

.partners {
  border-top: 3px dashed #dadada;
  border-bottom: 3px dashed #dadada;
}
.partners__inner {
  padding: 0.9375rem 0;
}
@media (min-width: 600px) {
  .partners__inner {
    padding: 2.25rem 0;
  }
}
.partners__row {
  display: flex;
  flex-wrap: wrap;
  row-gap: 15px;
  column-gap: 50px;
  align-items: center;
  justify-content: center;
}
@media (min-width: 700) {
  .partners__row {
    row-gap: 20px;
    column-gap: 100px;
  }
}

.aboutCompany__inner {
  background: url(../images/about/about_bg.jpg);
  padding: 2.625rem 2rem;
  position: relative;
}
.aboutCompany__title {
  font-size: 2rem;
  line-height: 1.2;
  font-weight: 900;
  text-transform: uppercase;
  letter-spacing: 0.025em;
  color: #22b7ca;
  margin-bottom: 1.03125em;
}
.aboutCompany__txt {
  display: flex;
  flex-direction: column;
  row-gap: 15px;
  font-size: 0.75rem;
  line-height: 166.6666666667%;
  font-weight: 400;
  letter-spacing: 0.025em;
}
@media (min-width: 993px) {
  .aboutCompany__txt {
    column-gap: 3.75rem;
    flex-direction: row;
  }
}
.aboutCompany__desc {
  flex: 1 1 50%;
}
.aboutCompany__thesises {
  flex: 1 1 50%;
}
.aboutCompany__thesises-title {
  font-weight: 900;
}
.aboutCompany__thesises-list > li::before {
  content: "";
  display: inline-block;
  width: 11px;
  height: 11px;
  transform: translateY(2px);
  background: url(../images/arrows/arrow_blue_small.png) left bottom no-repeat;
  margin: 0 0.8125rem 0 0.3125rem;
}
.aboutCompany__img {
  display: none;
}
@media (min-width: 1158px) {
  .aboutCompany__img {
    display: block;
    position: absolute;
    right: -5px;
    bottom: -134px;
  }
}

.info {
  border-top: 3px dashed #dadada;
  border-bottom: 3px dashed #dadada;
}
.info__body {
  padding: 1.25rem 0;
  display: inline-flex;
  flex-wrap: wrap;
  align-items: center;
  column-gap: 2.1875rem;
  row-gap: 0.625rem;
  font-size: 0.875rem;
  line-height: 1.2;
  letter-spacing: 0.025em;
  color: #333333;
}
.info__body:first-child {
  border-bottom: 1px solid rgba(176, 176, 176, 0.2);
}
.info__body-list {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  column-gap: 1.875rem;
  row-gap: 0.3125rem;
}
.info__body-list-item > a {
  color: #1ab9ce;
}
.info__body-list-item > a:hover {
  text-decoration: underline;
}

.breadcrumbs__list {
  display: flex;
  align-items: center;
  font-size: 0.875rem;
  line-height: 114.2857142857%;
  font-weight: 300;
  column-gap: 0.625rem;
  margin-bottom: 0.625rem;
}
.breadcrumbs__link > a {
  display: flex;
  align-items: center;
  gap: 10px;
  color: #1ab9ce;
}
.breadcrumbs__link > a:hover {
  text-decoration: underline;
}
.breadcrumbs__link > a::after {
  content: "";
  width: 10px;
  height: 10px;
  background: url(../images/arrows/arrow_blue_small.png);
}
.breadcrumbs__item {
  color: #999999;
}

.product__title {
  font-size: 36px;
  line-height: 1;
  font-weight: 900;
  text-transform: uppercase;
  color: #333333;
  margin-bottom: 0.5555555556em;
}
@media (max-width: 1140px) {
  .product__title {
    font-size: calc(27px + 9 * ((100vw - 320px) / 820));
  }
}
.product__title > span {
  font-size: 1.875rem;
  color: #dadada;
}
.product__body {
  display: grid;
  grid-auto-flow: row;
  column-gap: 1.875rem;
  row-gap: 2.25rem;
}
@media (min-width: 700px) {
  .product__body {
    grid-template-columns: 22.4375rem 1fr;
  }
}
.product__images {
  display: grid;
  grid-auto-flow: row;
  row-gap: 0.9375rem;
}
.product__images-main .swiper-slide {
  display: flex;
  align-items: center;
  justify-content: center;
  border: 1px solid #f5f5f5;
}
.product__images-main .main-img {
  max-width: 270px;
  object-fit: cover;
}
@media (min-width: 450px) {
  .product__images-main .main-img {
    max-width: 350px;
  }
}
.product__images-thumbs .swiper-slide {
  position: relative;
  padding-bottom: 22%;
  border: 1px solid #e4e4e4;
}
.product__images-thumbs .swiper-slide .thumbs-img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.product__images-thumbs .swiper-slide::after {
  content: "";
  position: absolute;
  transition: 0.4s;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border: 3px solid #f68038;
  opacity: 0;
}
.product__images-thumbs .swiper-slide-thumb-active::after {
  opacity: 1;
}
@media (min-width: 700px) {
  .product__tabs {
    grid-column: span 2;
  }
}

.product-info > * {
  border-bottom: 1px solid #ededed;
}
.product-info__top {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-bottom: 0.75rem;
}
.product-info__compare {
  display: flex;
  align-items: center;
  gap: 0.5625rem;
  font-size: 0.875rem;
  line-height: 171.4285714286%;
  text-transform: uppercase;
  color: #666666;
  padding: 0.75rem 0.9375rem;
  border-radius: 100px;
  background-color: #f3f3f3;
}
.product-info__compare::before {
  content: "";
  width: 21px;
  height: 21px;
  background: url(../images/products/compareIcon.png);
}
.product-info__having {
  font-size: 0.875rem;
  line-height: 171.4285714286%;
  font-weight: 300;
  background-color: #f68038;
  border-radius: 100px;
  padding: 0.4375rem 0.625rem;
}
.product-info__midle {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
  padding: 1.5625rem 0;
  column-gap: 0.3125rem;
  row-gap: 0.9375rem;
}
.product-info__price {
  font-size: 1.5rem;
  line-height: 1;
  color: #333333;
}
.product-info__quanity {
  font-size: 1rem;
  line-height: 1.2;
  color: #999999;
}
.product-info__inBasket {
  flex: 1 1 100%;
  text-align: center;
  position: relative;
  font-size: 0.875rem;
  line-height: 114.2857142857%;
  text-transform: uppercase;
  color: #999999;
  padding: 0.75rem 1rem;
  background-color: #f3f3f3;
  margin-right: 2.875rem;
  cursor: pointer;
  transition: 0.4s;
}
@media (min-width: 1100px) {
  .product-info__inBasket {
    flex: none;
  }
}
.product-info__inBasket:hover {
  color: #ffffff;
  background-color: #bb5e23;
}
.product-info__inBasket::after {
  content: "";
  position: absolute;
  top: 50%;
  right: -40px;
  transform: translateY(-50%);
  width: 52px;
  height: 52px;
  background: url(../images/products/basket-Orange.png);
}
.product-info__bottom {
  padding: 1.375rem 0;
}
.product-info__bottom-title {
  font-size: 0.875rem;
  line-height: 128.5714285714%;
  text-transform: uppercase;
  color: #333333;
  margin-bottom: 1.6428571429em;
}
.product-info__advantages {
  display: flex;
  align-items: center;
  justify-content: space-between;
  max-width: 21.875rem;
}

.quantity {
  display: flex;
  align-items: center;
  column-gap: 0.625rem;
}
.quantity__button {
  width: 19px;
  height: 17px;
  background: url(../images/products/arrowLess.png);
}
.quantity__button_plus {
  background: url(../images/products/arrowLess.png);
  transform: rotate(180deg);
}
.quantity__button_minus:hover {
  background: url(../images/products/arrowMore.png);
  transform: rotate(180deg);
}
.quantity__button_plus:hover {
  background: url(../images/products/arrowMore.png);
  transform: rotate(0);
}
.quantity__input {
  text-align: center;
  width: 3.5rem;
  border: 2px solid #e5e5e5;
}

.product-advantage {
  display: flex;
  flex-direction: column;
}
.product-advantage__icon {
  display: flex;
  justify-content: center;
  margin-bottom: 0.625rem;
}
.product-advantage__txt {
  text-align: center;
  font-size: 0.75rem;
  line-height: 133.3333333333%;
  font-weight: 300;
  color: #999999;
}

.product-tabs__btns {
  display: flex;
  flex-direction: column;
}
@media (min-width: 450px) {
  .product-tabs__btns {
    flex-direction: row;
    align-items: center;
  }
}
.product-tabs__btn {
  display: block;
  padding: 1.25rem;
  background-color: transparent;
  transition: 0.4s;
}
@media (min-width: 450px) {
  .product-tabs__btn {
    padding: 1.25rem 1.8125rem;
  }
}
.product-tabs__btn > span {
  font-size: 0.875rem;
  line-height: 114.2857142857%;
  text-transform: uppercase;
  color: #72c9d4;
  border-bottom: 1px dotted #72c9d4;
}
.product-tabs__btn:hover, .product-tabs__btn._active {
  background-color: #72c9d4;
}
.product-tabs__btn:hover > span, .product-tabs__btn._active > span {
  color: #ffffff;
  border-bottom: none;
}
.product-tabs__content {
  display: none;
  background-color: #fafafa;
  padding: 0.9375rem;
  margin-bottom: 1.9375rem;
}
@media (min-width: 450px) {
  .product-tabs__content {
    padding: 1.875rem;
  }
}
.product-tabs__content._active {
  display: block;
}
.product-tabs__txt {
  font-size: 0.875rem;
  line-height: 157.1428571429%;
  font-weight: 300;
  color: #666666;
}
.product-tabs__params {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
}
.product-tabs__param {
  padding: 0.625rem;
  padding-left: 0;
  border-bottom: 1px solid #e2e2e2;
  line-height: 1.3;
}
.product-tabs__param-label {
  font-size: 0.875rem;
  color: #333;
  font-weight: 700;
}
.product-tabs__param-value {
  font-size: 0.875rem;
  color: #333;
  font-weight: 300;
}

.foot__top {
  margin-bottom: 1.25rem;
}
.foot__midle {
  padding-bottom: 1.625rem;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  column-gap: 46px;
  border-bottom: 1px solid #dadada;
  row-gap: 1.25rem;
}
@media (max-width: 1140px) {
  .foot__midle {
    column-gap: calc(15px + 31 * ((100vw - 320px) / 820));
  }
}
.foot__company-logo {
  font-family: "Play";
  display: flex;
  flex-direction: column;
  justify-items: center;
  row-gap: 5px;
  text-align: center;
  font-size: 3rem;
  line-height: 1;
  font-weight: 700;
  text-transform: uppercase;
  padding: 0.625rem 1.3125rem;
  background: url(../images/header/bg_header.jpg) no-repeat;
  margin-bottom: 1.25rem;
}
.foot__company-logo > span {
  font-size: 0.75rem;
}
.foot__company-contact {
  display: flex;
  align-items: center;
  column-gap: 1.25rem;
}
.foot__telefon-icon {
  width: 19px;
  height: 25px;
}
.foot__company-numbers > a {
  font-size: 0.875rem;
  line-height: 128.5714285714%;
  text-transform: uppercase;
  color: #333333;
  margin-bottom: 5px;
}
.foot__company-numbers > a:last-child {
  display: block;
  margin-bottom: 0;
}
.foot__delivery {
  max-width: 20.3125rem;
}
.foot__delivery-title {
  font-size: 0.875rem;
  line-height: 1.2;
  text-transform: uppercase;
  letter-spacing: 0.025em;
  color: #999999;
  margin-bottom: 2.7857142857em;
}
.foot__delivery-list {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
  column-gap: 0.9375rem;
}
.foot__delivery-item {
  padding: 0 auto;
}
.foot__pay-list {
  display: flex;
  justify-content: center;
  align-items: center;
  column-gap: 1.5625rem;
}
.foot__bottom {
  display: flex;
  gap: 10px;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  padding: 0.75rem 0;
}
@media (min-width: 400px) {
  .foot__bottom {
    justify-content: space-between;
  }
}
.foot__copyRight {
  font-size: 0.75rem;
  line-height: 150%;
  font-weight: 300;
  color: #999999;
}
.foot__socialMedia-list {
  display: flex;
  align-items: center;
  column-gap: 0.625rem;
}
